html {
    width: 100%;
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: 'moon';
    src:url('MOON 2.0 FREE/Moon2.0-Bold.oft') format("opentype");
}
@font-face {
    font-family: 'moonl';
    src:url('MOON 2.0 FREE/Moon2.0-Light.otf') format("opentype");
}
body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'moon';
}
#navbar {
    width: 100%;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0.432);
    font-size: 1.7rem;
    color: #fff;
    margin-top: -6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}
a {
    text-decoration: none;
    color: #fff;
}
#welcome-section {
    background: url('peter-clarkson-625028-unsplash.jpg');

    height: 100vh;
    margin: 0%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #B892FD;
}
#parallax2 {
    background: url('apple-devices-apple-keyboard-close-up-1309766.jpg');

    height: 100%;
    margin: 0;
    padding: 0;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}
#parallax3 {
    background: url('rebecca-oliver-483486-unsplash.jpg');

    height: 100%;
    margin: 0;
    padding: 0;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    color: #00B7B3;
}
#parallax4 {
    background: url('viktor-juric-1004774-unsplash.jpg');

    height: 100%;
    margin: 0;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    color: #9450B2;
}

h1 {
    text-align: center;
    font-size: 7rem;
    font-family: 'moon';
    letter-spacing: 3rem;
}
p {
    color: #2238C9;  
}
h3 {
    margin: auto 0;
}
.left {
    display: flex;
    width: 15%;
    flex-direction: column;
    text-align: justify;
    margin-left: 7rem;
    margin-right: 0rem;
    padding-right: 0rem;
}
ul{
    margin-top: 0rem;
}
li {
    list-style-type: circle;
    font-size: 1.5rem;
}
.title {
    font-size: 3rem;
    text-align: center;
    padding-top: 1.5rem;
}
#intro {
    text-align: center;
    margin: 28rem auto 1rem auto;  
    font-size: 2.5rem;
}
#me {
    width: 50%;
    border-radius: 50%;
    margin-top: -8rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}
.project-title {
    font-size: 1.5rem;
    font-weight: 450;
    text-align: center;
}
.project {
    height: 7rem;
    padding: 1.5rem;
}
.profile-link{
    width: 4rem;
    margin-top: 6.8rem;
}
.left {
    float: left;
    width: 25%;
}
.icons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.glassEffect {
  display: flex;
  align-content: center;
  min-height: 20rem;
  width: 53%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  float: right;
  margin-right: 4rem;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  padding: 2.5rem 4rem 2.5rem 4rem;
  border: solid 0.2rem rgba(255, 255, 255, 0.7);
  border-radius: 35px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7) 35%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.5) 69%, rgba(255,255,255,0.8) 93%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 35%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.5) 69%,rgba(255,255,255,0.8) 93%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg , rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 35%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.5) 69%,rgba(255,255,255,0.8) 93%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 
  Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6ad5+0,c774e8+29,ad8cff+62,8795e8+100 */
}
button {
    color: rgba(92, 8, 8, 0.267)
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  label {
    margin: 2% 2.5% 2% 2.5%;
    padding: 0;
  }
  input {
    width: 100%;
    height: 4%;
  }
  textarea {
    width: 100%;
  }
  .input-small {
    width: 45%;
  }
  .input-full-width {
    width: 100%;
 }
 button{
    border: solid 0.2rem #fff;
    background-color: transparent;
    color: #9450B2;
    font-size: 1.7rem;
    font-weight: 700;
 }
 @media screen and (max-width:1152px){
    html {
        width: 100vw;
        height: auto;
    } 
    body {
        width: 100vw;
        height: auto;
    }
    .welcome-section {
        width: 100vw;
        height: auto;
    }
    .parallax2 {
        width: 100%;
        height: auto;
    }
    .glassEffect {
        width: 40%;
    }
  .left {
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
     
 }