
@font-face {
    font-family: 'moon';
    src:url('MOON 2.0 FREE/Moon2.0-Bold.oft') format("opentype");
}
@font-face {
    font-family: 'moonl';
    src:url('MOON 2.0 FREE/Moon2.0-Light.otf') format("opentype");
}
body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'moon', Helvetica, sans-serif;
}
#navbar {
    width: 100%;
    height: 2.5rem;
    font-size: 1.7rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
}
#navbar a {
    background: rgba(0, 0, 0, 0.274);
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: solid #fff 2px;
}
a {
    text-decoration: none;
    color: #fff;
}
#welcome-section {
    background: url('peter-clarkson-625028-unsplash.jpg');
    

    height: 100vh;
    margin: 0%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:  #B892FD;
}
#parallax2 {
    background: url('pexels-photo-1309766.jpeg');

    height: 100vh;
    margin: 0;


    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}
#parallax3 {
    background: url('rebecca-oliver-483486-unsplash.jpg');

    height: 100%;
    margin: 0;
    padding: 0;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    color: #00B7B3;
}
#parallax4 {
    background: url('pexels-photo-92248.jpeg');

    height: 100%S;
    margin: 0;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    color: #9450B2;
}

h1 {
    text-align: center;
    font-size: 7rem;
    font-family: 'moon', Helvetica, sans-serif;
    letter-spacing: 3rem;
    margin-bottom: 0rem;
}
p {
    color: #2B012F;  
    font-family: Helvetica, sans-serif;
    text-align: justify;
    line-height: 2.3rem;
    letter-spacing: 0.10rem;
}
h3 {
    font-size: 2rem;
}
.left {
    display: flex;
    width: 15%;
    flex-direction: column;
    text-align: justify;
    margin-left: 7rem;
    margin-right: 0rem;
    padding-right: 0rem;
}
ul{
    margin-top: 0rem;
}
li {
    list-style-type: circle;
    font-size: 1.4rem;
}
.title {
    font-size: 3rem;
    text-align: center;
    padding-top: 1.5rem;
}
#intro {
    color:  #2238C9;
    font-family: 'moon';
    text-align: center;
    margin: 32rem auto 1rem auto;  
    font-size: 2.7rem;
}
#me {
    width: 65%;
    border-radius: 50%;
    margin-top: -4rem;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}
.container-fluid {
  position: relative;
  display: flex; 
  width: auto;
  margin: 1rem 0rem;   
}
.project {
    height: 10rem;
    width: inherit;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.705);
  }
  .container-fluid:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
  h4 {
      text-align: center;
      font-size: 2.5rem;
  }
  .text {
      line-height: 1rem;
  }
.left {
    float: left;
    width: 20%;
}
.icons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 5rem;
}
.profile-link{
    width: 4rem;
    margin-top: 6.5rem;
}
.glassEffect {
  display: flex;
  align-content: center;
  min-height: 27rem;
  width: 65%;
  font-weight: bold;
  font-size: 1.7rem;
  text-align: left;
  float: right;
  margin-right: 4rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  padding: 2.5rem 4rem 2.5rem 4rem;
  border: solid 0.2rem rgba(255, 255, 255, 0.7);
  border-radius: 35px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7) 35%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.5) 69%, rgba(255,255,255,0.8) 93%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 35%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.5) 69%,rgba(255,255,255,0.8) 93%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg , rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.7) 35%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.5) 69%,rgba(255,255,255,0.8) 93%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 
  Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6ad5+0,c774e8+29,ad8cff+62,8795e8+100 */
}
button {
    color: rgba(92, 8, 8, 0.267)
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  label {
    margin: 2% 2.5% 2% 2.5%;
    padding: 0;
  }
  input {
    width: 100%;
    height: 5%;
  }
  textarea {
    width: 100%;
    height: 9.5rem;
  }
  .input-small {
    width: 45%;
  }
  .input-full-width {
    width: 100%;
 }
 button{
    border: solid 0.2rem #fff;
    background-color: transparent;
    color: #9450B2;
    font-size: 1.7rem;
    font-weight: 700;
 }
 @media screen and (max-width:1152px){

    h1 {
        letter-spacing: 1rem;
    }
    #navbar {
        font-size: 2.5rem;
    }
    #intro {
        margin-top: 80rem;
        font-size: 5.5rem;
        font-weight: bold;
    }
    p {
        font-size: 3.5rem;
        line-height: 4rem;
        letter-spacing: 0.04rem;
        text-align: left;
    }
    .welcome-section {
        background-attachment: scroll;
    }
    .parallax2 {
        background-attachment: scroll; 
    }
    .parallax3 {
        background-attachment: scroll;
    }
    .glassEffect {
        float: none;
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
    .title {
        margin: auto;
        font-size: 6rem;
        letter-spacing: 0.7rem;
    }
    .left {
        float: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
    }
    h3 {
        margin: auto;
        font-size: 4.5rem;
        letter-spacing: 1rem;
    }
    ul {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: stretch;
        justify-content: space-evenly;
        margin: auto;
    }
    li {
        list-style: none;
        font-size: 3.5rem;
        line-height: 3rem;
        letter-spacing: 0.8rem;
    }
    #me {
        margin: auto;
    }
    .icons {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
    }
    .project {
        width: 100%;
        height: auto;
        padding: auto;
    }
    .text {
        line-height: 2rem;
    }
    #form {
        margin-top: 4rem;   
    }
    input {
        width: 100%;
        height: 3%;
      }
      textarea {
        width: 100%;
        height: 5rem;
      }
     
 }